language: node_js

sudo: false

cache:
  apt: true
  directories:
    - node_modules

node_js:
  - "0.10"
  - "0.12"
  - "4"
  - "5"

script:
  - npm run eslint
  - npm run jscs
  - npm run test-cov

after_script:
  - npm install coveralls
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js

deploy:
  provider: script
  script: .travis/deploy.sh
  skip_cleanup: true
  on:
    tags: true
    node: "4"
